<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<div class="admin-page">
  <p-card header="Products" subheader="List of all Products" >
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button label="New" icon="pi pi-plus" class="p-button-success" routerLink="form"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="products" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header" >
          <tr>

            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
            <th>Image</th>
            <th>Price<p-sortIcon field="Price"></p-sortIcon></th>
            <th>Stock<p-sortIcon field="Stock"></p-sortIcon></th>
            <th>Category<p-sortIcon field="category"></p-sortIcon></th>
            <th>dateCreated</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-products>

              <tr>


                <td>{{products.name}}</td>
                <td><img [src]="products.image" [alt]="products.image" style="width: 100%;"></td>
                <td>{{products.price}}</td>
                <td>{{products.countInStock}}</td>
                <td>{{products.category}}</td>
                <td>{{products.dateCreated|date:'short'}}</td>

                <!-- <td class="w-10rem " >
                  <p-button  *ngIf="editMode && category.id === _categoryid ;else inlineEdit" styleClass="p-button-danger mr-2" icon="pi pi-times" (onClick)="onCancel()"></p-button>
                  <p-button *ngIf="editMode && category.id === _categoryid" styleClass="p-button-success mr-2" icon="pi pi-check" (onClick)="editProduct(products)" [disabled]="!categoryName||!categoryIcon"></p-button>

                  <ng-template #inlineEdit>
                  <p-button [disabled]="editMode&&category.id !== _categoryid" styleClass="p-button-danger mr-2" icon="pi pi-trash" (onClick)="deleteproducts(category.id,$event)"></p-button>
                  <p-button  [disabled]="editMode&&category.id !== _categoryid" styleClass="p-button-success mr-2" icon="pi pi-pencil" (onClick)="onEdit(products)"></p-button>
                  </ng-template>

                </td> -->

              </tr>

        </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
