//base
@import '~normalize.css/normalize.css';
@import './base/mixins.scss';
@import './base/colors.scss';
@import './base/fonts.scss';

//libraries
@import '~primeicons/primeicons.css';
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.css";
@import '~primeflex/primeflex.css';


//override primeng fonts
@import './base/configuartion.scss';

//pages
@import './apps/shop/pages/home-page.scss';
@import './apps/shop/pages/product-list-page.scss';

//shared
@import './apps/shop/shared/footer.scss';
@import './apps/shop/shared/header.scss';
@import './apps/shop/shared/nav.scss';

//libs
@import './libs/ui/ui.scss';
@import './libs/orders/orders.scss';
@import './libs/users/users.scss';
@import './libs/products/products.scss';

.container{
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
  background-color: var(--surface-100);
}
