<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<div class="admin-page">
  <p-card header="Categories" subheader="List of all categories">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button label="New" icon="pi pi-plus" class="p-button-success" routerLink="form"></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="categories" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header" >
          <tr>
            <th>Id</th>
            <th>name</th>
            <th>Icon</th>
            <th></th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
              <tr>
                <td>{{category.id}}</td>
                <form [formGroup]="categoryEditForm">
                <td class="w-15rem m-0"> <input formControlName="name" *ngIf="editMode && category.id === _categoryid;else name" pInputText [value]="category.name"  >
                  <small *ngIf="categoryEditForm.controls['name'].invalid && isSubmitted"class="p-error">name is required!</small>
                  <ng-template #name>{{category.name}}</ng-template></td>
                <td class="w-15rem">
                  <input formControlName="icon" *ngIf="editMode && category.id === _categoryid;else icon" pInputText [value]="category.icon" >
                  <small *ngIf="categoryEditForm.controls['icon'].invalid && isSubmitted"class="p-error">icon is required!</small>
                  <ng-template  #icon>{{category.icon}}</ng-template>
                </td>
              </form>
                <td>
                  <p-button  *ngIf="editMode && category.id === _categoryid ;else inlineEdit" styleClass="p-button-danger mr-2" icon="pi pi-times" (onClick)="editMode = !editMode"></p-button>
                  <p-button *ngIf="editMode && category.id === _categoryid" styleClass="p-button-success mr-2" icon="pi pi-check" (onClick)="editCategory()"></p-button>

                  <ng-template #inlineEdit>
                  <p-button [disabled]="editMode&&category.id !== _categoryid" styleClass="p-button-danger mr-2" icon="pi pi-trash" (onClick)="deleteCategory(category.id,$event)"></p-button>
                  <p-button  [disabled]="editMode&&category.id !== _categoryid" styleClass="p-button-success mr-2" icon="pi pi-pencil" (onClick)="onEdit(category.id)"></p-button>
                  </ng-template>

                </td>

              </tr>
        </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
